/node_modules
/resources/scripts
/public/assets
/public/upload
/public/frontend
/public/hot
/public/storage
/app/Providers/RouteServiceProvider.php
/storage/*.key
/vendor
.env
.env.backup
upload.zip
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
